@using HomeRunTracker.Frontend.Services.HttpService
@using HomeRunTracker.Frontend.Services
@inject IHttpService HttpService
@inject HomeRunHubService HomeRunHubService

@if (_isLoading)
{
    <div class="flex-row d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <QuickGrid Items="@_items" ResizableColumns="true" class="table bg-black text-light">
        <TemplateColumn>
            <img src="@context.BatterImageUrl" alt="@context.BatterName" width="30" style="border-radius: 15px"/>
        </TemplateColumn>
        <PropertyColumn Title="Name" Property="@(c => c.BatterName)" Sortable="true"/>
        <TemplateColumn Title="Team" Sortable="true" SortBy="_sort">
            <img src="@context.BatterTeamImageUrl" alt="@context.TeamName" width="30" style="border-radius: 100%"/>
        </TemplateColumn>
        <PropertyColumn Title="Total Distance" Property="@(c => c.TotalDistance)" Sortable="true" IsDefaultSort="SortDirection.Descending"/>
        <PropertyColumn Title="Launch Angle" Property="@(c => c.LaunchAngle)" Sortable="true"/>
        <PropertyColumn Title="Exit Velocity" Property="@(c => c.LaunchSpeed)" Sortable="true"/>
        <PropertyColumn Title="Time" Property="@(c => c.DateTime)" Format="T" Sortable="true"/>
        <PropertyColumn Title="RBI" Property="@(c => c.Rbi)" Sortable="true"/>
        <PropertyColumn Title="Description" Property="@(c => c.Description)" Sortable="false"/>
        <TemplateColumn>
            <td>
                @if (!string.IsNullOrEmpty(@context.HighlightUrl))
                {
                    <a href="@context.HighlightUrl" target="_blank">Link</a>
                }
                else
                {
                    <span>Not available</span>
                }
            </td>
        </TemplateColumn>
    </QuickGrid>
}
